<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>誤打刻修正申請一覧</title>
</head>
<body>
<h2>誤打刻修正申請一覧</h2>

<table border="1">
  <thead>
    <tr>
      <th>申請ID</th>
	  <th>タイムレコードID</th>
      <th>ユーザ名</th>
      <th>日付</th>
      <th>理由</th>
      <th>修正時間</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="apply : ${applyList}">
      <td th:text="${apply.missstampingId}"></td>
	  <td th:text="${apply.timerecord.timerecordId}"></td>
      <td th:text="${apply.user.name}"></td>
      <td th:text="${apply.timerecord.date}"></td>
      <td th:text="${apply.reason}"></td>
      <td th:text="${apply.correctTime}"></td>
    </tr>
  </tbody>
</table>
</body>
</html>
<a th:href="@{/admin/users}">戻る</a>