<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>勤怠処理画面</title>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}"/>
</head>
<body>
	<div th:replace="share::header"></div>
	<div class="container">
		<h3 class="text-center">勤務時間入力</h3>
	    <div class="mx-auto" style="width: 200px">
			<form th:action="@{/user/{id}/save(id=${user.id})}" method="post">
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			    <input type="hidden" name="userId" th:value="${user.id}">
			    日付: <input type="date" name="date" required><br>
			    出勤: <input type="time" name="startTime" required><br>
				休憩開始: <input type="time" name="startBreakTime" required><br>
				休憩終了: <input type="time" name="finishBreakTime" required><br>
			    退勤: <input type="time" name="finishTime" required><br>
		    	備考:
			    <select name="bikou" required>
			        <option value="通常出勤">通常出勤</option>
			        <option value="時差出勤">時差出勤</option>
			        <option value="遅刻">遅刻</option>
			        <option value="早退">早退</option>
			        <option value="休暇">休暇</option>
			    </select><br>
				<div class="mt-2 text-center">
					<button type="submit">登録</button>
				</div>
			</form>
		</div>
	    <h2 class="text-center mt-2">勤務時間</h2>
		<table class="table text-center">
		    <tr>
				<th scope="col">ID</th>
		        <th scope="col">日付</th>
		        <th scope="col">出勤時間</th>
		        <th scope="col">退勤時間</th>
				<th scope="col">休憩開始時間</th>
				<th scope="col">休憩終了時間</th>
				<th scope="col">勤務時間</th>
				<th scope="col">残業時間</th>
		        <th scope="col">備考</th>
		    </tr>
		    <tr th:each="r : ${records}">
				<td th:text="${r.timerecordId}"></td>
		        <td th:text="${r.date}"></td>
		        <td th:text="${r.startTime}"></td>
		        <td th:text="${r.finishTime}"></td>
				<td th:text="${r.startBreakTime}"></td>
				<td th:text="${r.finishBreakTime}"></td>
				<td th:text="${r.workDurationString != null ? r.workDurationString : '00:00'}"></td>
				<td th:text="${r.overtimeString}"></td>
		        <td th:text="${r.bikou}"></td>
				<td>
					<form th:action="@{/user/StampingCorrectionForm/{recordId}/{userId}(recordId=${r.timerecordId}, userId=${user.id})}" method="get">
						<button type="submit">修正申請</button>
					</form>
				</td>
		    </tr>
		</table>
	</div>
	<div th:replace="share::footer"></div>
</body>
</html>